<link rel="stylesheet" href="../styles/discover-farmers-story.css" media="all">

<div class="container d-flex flex-column justify-content-center align-items-center">
  <div class="">
    <p class='h4 pl-5 ml-5 text-success'>
      <span class='ml-5'></span>Meet Farmers
    </p>
    <p class='h1 text-center mt-2 w-75' >Discover the Passion Behind Every Familly's Products</p>
  </div>
  <main class='farmers-story-container'>
    <section class="story-section">
      <a href="#"><img style="discover-farmer-image"  src="https://raisedrightpastures.com/cdn/shop/files/family-farm-michigan.jpg?v=1694713141&width=750" alt="" width="200" height="200"></a>

      <p class="para">

        <i class="fa-solid fa-quote-left"></i><br>
        <span>Here at Raised Right Pastures we believe in doing things a little bit different. We are a small veteran-owned family farm located in Metamora, Michigan. Driven by our own passion for better, more accessible food we decided that the best way to do this would be to do it ourselves. We raise our proteins on pasture, with bugs and sunshine. They are fed an Organic, Non-GMO, Non-Soy supplemental feed. One of the biggest differences is that we use rotational farming practices – which means the animals get new pasture every couple days. Not only do we have happy pastures, we have happy hens, and this leads to a better nutrient content for us humans.</span>
        <br><i class="fa-solid fa-quote-right"></i><br>

        <span class="farmers-quote-container">
          <a href="#">
            <span class='farmer-title'>Steve & Emily Larsons</span><br>
            <span class='farm-title'>Raised Right Pastures, Washintton</span>
          </a>
        </span>

      </p>

    </section>
    <section class="story-section">
      <a href="#"><img style="discover-farmer-image"  src="https://raisedrightpastures.com/cdn/shop/files/family-farm-michigan.jpg?v=1694713141&width=750" alt="" width="200" height="200"></a>

      <p class="para">

        <i class="fa-solid fa-quote-left"></i><br>
        <span>Here at Raised Right Pastures we believe in doing things a little bit different. We are a small veteran-owned family farm located in Metamora, Michigan. Driven by our own passion for better, more accessible food we decided that the best way to do this would be to do it ourselves. We raise our proteins on pasture, with bugs and sunshine. They are fed an Organic, Non-GMO, Non-Soy supplemental feed. One of the biggest differences is that we use rotational farming practices – which means the animals get new pasture every couple days. Not only do we have happy pastures, we have happy hens, and this leads to a better nutrient content for us humans.</span>
        <br><i class="fa-solid fa-quote-right"></i><br>

        <span class="farmers-quote-container">
          <a href="#">
            <span class='farmer-title'>Steve & Emily Larsons</span><br>
            <span class='farm-title'>Raised Right Pastures, Washintton</span>
          </a>
        </span>

      </p>

    </section>
    <section class="story-section">
      <a href="#"><img style="discover-farmer-image"  src="https://raisedrightpastures.com/cdn/shop/files/family-farm-michigan.jpg?v=1694713141&width=750" alt="" width="200" height="200"></a>

      <p class="para">

        <i class="fa-solid fa-quote-left"></i><br>
        <span>Here at Raised Right Pastures we believe in doing things a little bit different. We are a small veteran-owned family farm located in Metamora, Michigan. Driven by our own passion for better, more accessible food we decided that the best way to do this would be to do it ourselves. We raise our proteins on pasture, with bugs and sunshine. They are fed an Organic, Non-GMO, Non-Soy supplemental feed. One of the biggest differences is that we use rotational farming practices – which means the animals get new pasture every couple days. Not only do we have happy pastures, we have happy hens, and this leads to a better nutrient content for us humans.</span>
        <br><i class="fa-solid fa-quote-right"></i><br>

        <span class="farmers-quote-container">
          <a href="#">
            <span class='farmer-title'>Steve & Emily Larsons</span><br>
            <span class='farm-title'>Raised Right Pastures, Washintton</span>
          </a>
        </span>

      </p>

    </section>

  </main>
</div>
