<link rel="stylesheet" href="../styles/news-letter-style.css" media="all">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="Main-container">
  <div class="news-letter-container">

    <div class="new-letter-content">
      <h1>Keep Togged For Updates and Actions</h1>

      <div class="login-boxy">
        <form>
          <div class="user-box">
            <input type="text" name="" required autocomplete="off">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="" required>
            <label>Password</label>
          </div>
          <button type="submit" class="btn1 btn-ghost">Subscribe</button>
        </form>
      </div>

      <!-- ----------------- -->
    </div>
    <img src="https://images.pexels.com/photos/6631952/pexels-photo-6631952.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="right-plygonal-image">
  </div>
</div>
